<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(admin)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m={R:1}&amp;module={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(p)/([a-zA-Z0-9_\-]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?mod={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(c)/([a-zA-Z0-9_\-\/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?c={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m=bbs&amp;uid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^(b)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m=bbs" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^(b)/([a-zA-Z0-9_\-]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m=bbs&amp;bid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^(b)/([a-zA-Z0-9_\-]+)/([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m=bbs&amp;bid={R:2}&amp;uid={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^(b)/([a-zA-Z0-9_\-]+)/write/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m=bbs&amp;bid={R:2}&amp;mod=write" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^(b)/([a-zA-Z0-9_\-]+)/([0-9]+)/s([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m=bbs&amp;bid={R:2}&amp;uid={R:3}&amp;s={R:4}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^(b)/([a-zA-Z0-9_\-]+)/([0-9]+)/([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m=bbs&amp;bid={R:2}&amp;uid={R:3}&amp;CMT={R:4}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^(b)/([a-zA-Z0-9_\-]+)/([0-9]+)/([0-9]+)/s([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?m=bbs&amp;bid={R:2}&amp;uid={R:3}&amp;CMT={R:4}&amp;s={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/(admin)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m={R:2}&amp;mdule={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/(p)/([a-zA-Z0-9_\-]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;mod={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/(c)/([a-zA-Z0-9_\-\/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;c={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m=bbs&amp;uid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/(b)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m=bbs" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 18" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/(b)/([a-zA-Z0-9_\-]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m=bbs&amp;bid={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/(b)/([a-zA-Z0-9_\-]+)/([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;uid={R:4}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/(b)/([a-zA-Z0-9_\-]+)/write/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;mod=write" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 21" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/(b)/([a-zA-Z0-9_\-]+)/([0-9]+)/s([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;uid={R:4}&amp;s={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^([a-zA-Z0-9_\-]+)/(b)/([a-zA-Z0-9_\-]+)/([0-9]+)/([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;uid={R:4}&amp;CMT={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^([a-zA-Z0-9_\-]+)/(b)/([a-zA-Z0-9_\-]+)/([0-9]+)/([0-9]+)/s([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;uid={R:4}&amp;CMT={R:5}&amp;s={R:6}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
